# SECRETS
SECRET_KEY="super secret string"
DEV_ENV=str("True", "False", "1", "0", "Yes", "No")

DB_NAME=string
DB_USER=string
DB_PASSWORD=string
DB_HOST=string
DB_PORT=string

# Email Service Configuration
EMAIL_NAME=string
APP_NAME=string
APP_PASSWORD=string
