@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  *
  * Update the font via the import @ line:2, then update the font-family in base
  */
@source "../../../**/*.{html,py,js}";

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
    }
}
